
:root {
    --primary-color: #b5e2fa;
    --secondary-color: #00171f;
	--accent1-color: #f18701;
	--accent2-color: #ffd400;
	--text-color: #f18701;
	--font-family:Passion One, Neuton;
}

body {
	margin: 0;
	background-color:var(--primary-color);
	font-family: var(--font-family);
	color: var(--text-color);
	font-size: 1.4rem;
	
}


main {
	max-width: 600px;	
	margin: 1.0em; auto;
	font-family: var(--font-family);
	font-size: large;
	color:#f18701; display: block; width: 100%; height: auto;}


nav a
 {font-family: var(--font-family); font-size: x-large; color: #f18701;}


article {
	position: absolute; 
	bottom: 0.5px; 
	left: 5px;
	background-color: var(--primary-color);
	padding: 5px;
	border:1px;
	font: size 1.2em;
	text-align: left;
}


article img {
	float: right;
	width: 150px;
	height: auto;
	border: 5px;
	margin-top: 10px;
	
	
section {
	padding: 40px 20px;
	top: 20px;
}

h1 { text-align: right; 
	font-size: 3.0rem; 
	position: absolute;
	top: 50%;
	left: 50%;

}



.hero{
	position: relative;
	height: 600px;
	padding: 50px 20px;
	text-align: center;
}

.hero h1{
	position: absolute;
	top: 3%;
	left: 50px;
	font-size: 4rem;
	width: 30%;
}

h2 { 
	color: var(--primary-color);
	font-size: 1.2rem;
	bottom: 5px;

}

footer {
	position: relative;
	bottom: 1px;
	margin: 0.15px;
	border-top: 1px;
	padding: 1.0rem;
	color: #f18701;
	font-weight: 600;
	font-style: Neuton;}

}

a {text-decoration: none;}	
