:root {
    --clr--darkblue: darkblue;
    --clr--white: #eee;
    --padding: 10px;
    --height: auto;
    --width: 150px;
    --border: 1px;
   

nav {background-color: var(--clr--darkblue); padding: 10px;}

nav a {color: var(--clr--white); display: block; padding: 20px;} 

h1 {color: var(--clr--darkblue);}  

img {width: var(--widht); height: var(--height); border: 1px solid black; padding: 2px; box-shadow: 0 0 30px gray;}

p {padding: var(--padding);}

main {max-width: 840px;}

aside {width: 20rem; margin: 1rem; border: var(--border) solid rgb(0 0 0 / 0.2); /* 1 */; padding: 1rem; background-color: var(--clr--white); color: #333; text-align: center;}

aside img { width: 200px; height: var(--height);}

main img { width: var(--width); height: var(--height);}

p {padding: 0;}

footer {margin-top: 15px; border-top: var(--border) solid #000; text-align: center;}